.App {
  max-width: 510px;
  margin: auto;
}

.App-logo {
  height: 80px;
}

.App-header {
  float: none;
  width: auto;
  position: static;

  background-color: #95a7bd;
  padding: 1em;
  color: white;

  text-align: center;

  font-size: 9px;
}

.App-title {
  font-size: 1.5em;
}

