@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.speakbox {
  &__content {
    textarea {
      resize: vertical;
    }
  }

  &__actions {
    padding-top: 0.5em;
  }

  &__upload-previews {
    display: flex;
    flex-flow: wrap row;
  }

  .image-preview {
    flex: 0 0 128px;
    width: 128px;
    height: 128px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.speakbox__dropzone {
  width: 100%;
  height: 6ex;

  border: 2px dashed lightgreen;

  color: $input-focus-color;
  text-align: center;
  line-height: 6ex;
  font-size: 2rem;

  &--active {
    position: relative;

    &:before {
      position: absolute;

      display: block;
      width: 100%;
    }
  }
}