.album-post {
  padding-top: 1em;
  padding-bottom: 1em;

  border-bottom: $light solid 1px;

  &__user {
    font-weight: bold;
  }
}

.album-post {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  &__user {
    $box-size: 64px;

    flex: 0 0 $box-size;
    max-width: $box-size;
    height: $box-size;
    line-height: $box-size;
    overflow: hidden;

    text-align: center;
    color: transparent;
    font-size: 0;
    font-family: "Courier New";

    &:first-letter {
      color: #222;
      font-size: 3rem;
    }
  }

  &__content {
    flex: 1 1 0%;
  }

  &__actions {
    flex: 1 1 100%;
  }

  &__photos {
    flex: 1 1 100%;
  }

  .comment-list {
    flex: 1 1 100%;
    padding-left: 2rem;
  }
}

.album-photo {
  img {
    max-width: 100%;
  }
}