@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "simple-post";
@import "album-post";

.comment-list__comments:empty {
  margin-bottom: 1em;
}

.new-comment {
  &__actions {
    padding-top: 0.5em;
  }
}

.comment {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  &__user {
    $box-size: 48px;
    flex: 0 0 $box-size;
    height: $box-size;
    line-height: $box-size;

    text-align: center;
    color: transparent;
    font-size: 0;
    font-family: "Courier New";
    font-weight: bold;

    &:first-letter {
      color: #555;
      font-size: 2rem;
    }
  }

  &__content {
    flex: 1 1 100%;
  }
}